$body-background-color-light: #F5F5D5;
$body-background-color-dark: #212121;

$todo-background-color-light: #F5F5A0;
$todo-background-color-dark: #737A7A;

$todo-box-shadow-color-light: rgba(0, 0, 255, .2);
$todo-box-shadow-color-dark: rgba(166, 144, 248, .2);

$todo-border-color-light: black;
$todo-border-color-dark: seashell;

$check-color-light: green;
$check-color-light-hover: darkgreen;
$check-color-dark: lightgreen;
$check-color-dark-hover: lime;

$insert-color-light: green;
$insert-color-light-hover: darkgreen;
$insert-color-dark: lightgreen;
$insert-color-dark-hover: lime;

$delete-color-light: red;
$delete-color-light-hover: darkred;
$delete-color-dark: lightcoral;
$delete-color-dark-hover: #F94874;

$pin-color-light: deepskyblue;
$pin-color-light-hover: dodgerblue;
$pin-color-dark: lightblue;
$pin-color-dark-hover: skyblue;

$functions-color-light: gray;
$functions-color-light-hover: black;
$functions-color-dark: seashell;
$functions-color-dark-hover: gray;

$text-color-dark: seashell;
$text-placeholder-color-dark: lightsteelblue;

$header-color-light: black;
$header-color-dark: seashell;
